In [1]:
!pip install pymongo

Collecting pymongo
  Using cached https://files.pythonhosted.org/packages/30/f9/78dd244df932309299288a452d1c3524f6f7746f1813b8a8417952b1d9ce/pymongo-3.6.1-cp36-cp36m-manylinux1_x86_64.whl
Installing collected packages: pymongo
Successfully installed pymongo-3.6.1
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
from pymongo import MongoClient

In [3]:
mongo_client = MongoClient('18.236.138.158', 27016)
database_reference = mongo_client.twitter
collection_reference = database_reference.tweets

In [4]:
cursor = collection_reference.find()

In [7]:
next(cursor)

{'_id': ObjectId('5a4d56d9bfe2f9001587a130'),
 'created_at': 'Wed Jan 03 22:16:04 +0000 2018',
 'id': 948679379957223427,
 'id_str': '948679379957223427',
 'text': 'It‚Äôs okay to invest in YOUrself. \nI beat myself up whenever i don‚Äôt cross out everything on my‚Ä¶ https://t.co/9kQpNWp4F9',
 'source': '<a href="http://instagram.com" rel="nofollow">Instagram</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 61891630,
  'id_str': '61891630',
  'name': 'IG: Lorenamour64',
  'screen_name': 'Lorena64o',
  'location': 'NORTH HOLLYWOOD',
  'url': 'https://www.goherbalife.com/lramirez2/en-US',
  'description': 'LA I turned bad habits into good habits. Health Coach | karaoke queen | noceur ',
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 337,
  'friends_count': 239,
  'listed_count': 10,
  'favourites_count': 574,
  'statuses_count': 3164,
  'created_at': 'Fri Jul 31 22:28:02 +0000 2009',
  'utc_offset': -28800,
  'time_zone': 'Pacific Time (US & Canada)',
  'geo_enabled': True,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': '050108',
  'profile_background_image_url': 'http://pbs.twimg.com/profile_background_images/812409981/afaa27bf78e5a0e0f394e29f6ca71e2c.jpeg',
  'profile_background_image_url_https': 'https://pbs.twimg.com/profile_background_images/812409981/afaa27bf78e5a0e0f394e29f6ca71e2c.jpeg',
  'profile_background_tile': False,
  'profile_link_color': 'FF0000',
  'profile_sidebar_border_color': 'FFFFFF',
  'profile_sidebar_fill_color': 'E3E2DE',
  'profile_text_color': '634047',
  'profile_use_background_image': True,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/921581872206954496/QksJ_AK__normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/921581872206954496/QksJ_AK__normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/61891630/1423650146',
  'default_profile': False,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': {'type': 'Point', 'coordinates': [34.04491223, -118.44241261]},
 'coordinates': {'type': 'Point', 'coordinates': [-118.44241261, 34.04491223]},
 'place': {'id': '3b77caf94bfc81fe',
  'url': 'https://api.twitter.com/1.1/geo/id/3b77caf94bfc81fe.json',
  'place_type': 'city',
  'name': 'Los Angeles',
  'full_name': 'Los Angeles, CA',
  'country_code': 'US',
  'country': 'United States',
  'bounding_box': {'type': 'Polygon',
   'coordinates': [[[-118.668404, 33.704538],
     [-118.668404, 34.337041],
     [-118.155409, 34.337041],
     [-118.155409, 33.704538]]]},
  'attributes': {}},
 'contributors': None,
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [],
  'urls': [{'url': 'https://t.co/9kQpNWp4F9',
    'expanded_url': 'https://www.instagram.com/p/BdgPSa5hQrc/',
    'display_url': 'instagram.com/p/BdgPSa5hQrc/',
    'indices': [96, 119]}],
  'user_mentions': [],
  'symbols': []},
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'filter_level': 'low',
 'lang': 'en',
 'timestamp_ms': '1515017764449',
 'user_processed': True}

In [8]:
cursor = collection_reference.find()

In [9]:
cursor.count()

2157100

In [10]:
cursor_sampl = collection_reference.aggregate(
    [{'$sample': {'size': 20}}]
)

In [12]:
list(range(5))

[0, 1, 2, 3, 4]

In [13]:
len(list(cursor_sampl))

20

In [14]:
next(cursor_sampl)

StopIteration:

In [15]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [16]:
tw = next(cursor_sampl)

In [17]:
tw.keys()

dict_keys(['_id', 'created_at', 'id', 'id_str', 'text', 'display_text_range', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'extended_tweet', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'possibly_sensitive', 'filter_level', 'lang', 'timestamp_ms', 'user_processed'])

In [18]:
list(tw.values())[:5]

[ObjectId('5a78aacc15ba4c00015664b7'),
 'Mon Feb 05 19:04:44 +0000 2018',
 960590028253446144,
 '960590028253446144',
 'YAAASSSSS!!!! LOVE MY TEAM AND MY CITY @Eagles!!! CONGRATS!! WELL DESERVED LONG AWAITED BUT DAMMIT!! WE GOT IT!!‚Ä¶ https://t.co/dEm7aXDF1S']

In [19]:
import pandas as pd

In [20]:
cursor = collection_reference.aggregate([{'$sample': {'size': 5}}])

tw_sample_df = pd.DataFrame(list(cursor))

In [21]:
tw_sample_df.dtypes

_id                           object
contributors                  object
coordinates                   object
created_at                    object
display_text_range            object
entities                      object
extended_entities             object
favorite_count                 int64
favorited                       bool
filter_level                  object
geo                           object
id                             int64
id_str                        object
in_reply_to_screen_name       object
in_reply_to_status_id        float64
in_reply_to_status_id_str     object
in_reply_to_user_id          float64
in_reply_to_user_id_str       object
is_quote_status                 bool
lang                          object
place                         object
possibly_sensitive            object
quote_count                    int64
reply_count                    int64
retweet_count                  int64
retweeted                       bool
source                        object
text                          object
timestamp_ms                  object
truncated                       bool
user                          object
user_processed                object
dtype: object

In [22]:
tw_sample_df.select_dtypes([int])

   favorite_count                  id  quote_count  reply_count  retweet_count
0               0  949128180421423110            0            0              0
1               0  952395937166446592            0            0              0
2               0  950168161424359425            0            0              0
3               0  955545267616473089            0            0              0
4               0  958617919558098944            0            0              0

In [23]:
tw_sample_df.select_dtypes([float])

   in_reply_to_status_id  in_reply_to_user_id
0                    NaN                  NaN
1                    NaN                  NaN
2                    NaN                  NaN
3           9.555443e+17          583038984.0
4                    NaN                  NaN

In [24]:
tw_sample_df.select_dtypes(['object'])

,_id,contributors,coordinates,created_at,display_text_range,entities,extended_entities,filter_level,geo,id_str,...,in_reply_to_status_id_str,in_reply_to_user_id_str,lang,place,possibly_sensitive,source,text,timestamp_ms,user,user_processed
0,5a4ef81fbfe2f9001587ff5a,None,None,Fri Jan 05 03:59:26 +0000 2018,"[0, 38]","{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 949128175698657281, 'id_str'...",low,None,949128180421423110,...,None,None,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,"<a href=""http://twitter.com/download/iphone"" r...",This damn album was so overlooked . üññüèΩ https:/...,1515124766818,"{'id': 935285892, 'id_str': '935285892', 'name...",NaN
1,5a5adb7436dd5f00015df15b,None,None,Sun Jan 14 04:24:20 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,952395937166446592,...,None,None,en,"{'id': 'fbd6d2f5a4e4a15e', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",Can‚Äôt get over how fine p rod was in 2009 lowk...,1515903860738,"{'id': 2476155914, 'id_str': '2476155914', 'na...",True
2,5a52c0ae36dd5f000158f176,None,None,Mon Jan 08 00:51:57 +0000 2018,"[0, 68]","{'hashtags': [{'text': 'MyTwitterAnniversary',...","{'media': [{'id': 950168155208347648, 'id_str'...",low,None,950168161424359425,...,None,None,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,"<a href=""http://twitter.com/download/iphone"" r...",Do you remember when you joined Twitter? I do!...,1515372717611,"{'id': 2281376473, 'id_str': '2281376473', 'na...",True
3,5a66507f36dd5f000164b402,None,None,Mon Jan 22 20:58:39 +0000 2018,"[35, 73]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,955545267616473089,...,955544344269869056,583038984,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/android"" ...",@johnpaulstonard @aiww @TateEtcMag No one has ...,1516654719629,"{'id': 823668383132487681, 'id_str': '82366838...",NaN
4,5a717e2136dd5f00016b72de,None,None,Wed Jan 31 08:28:16 +0000 2018,NaN,"{'hashtags': [{'text': 'Tweetlikethe1600s', 'i...",NaN,low,None,958617919558098944,...,None,None,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",Let me stop perusing #Tweetlikethe1600s before...,1517387296939,"{'id': 26182204, 'id_str': '26182204', 'name':...",NaN

In [25]:
tw_sample_df['created_at'] = pd.to_datetime(tw_sample_df['created_at'])

In [28]:
tw_sample_df.created_at

0   2018-01-05 03:59:26
1   2018-01-14 04:24:20
2   2018-01-08 00:51:57
3   2018-01-22 20:58:39
4   2018-01-31 08:28:16
Name: created_at, dtype: datetime64[ns]

## Tweets Containing Geo Information

### DO NOT RUN THIS

In [31]:
contain_geo_search = collection_reference.find({'geo' : { '$ne' : None}})
contain_geo_search

In [30]:
# contain_geo_search.count()

    318373

## Distinct Users

#### TRY THIS

In [32]:
collection_reference.distinct('user')

OperationFailure: distinct too big, 16mb cap